[submodule "website/themes/docsy"]
       path = website/themes/docsy
       url = https://github.com/google/docsy

[submodule "upstream"]
	path = upstream
	url = https://github.com/kubeflow/manifests.git
